.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #016d5b;
  color: white;
  z-index: 1000;
}

.menu a {
  margin-right: 20px;
  display: inline;
}

.site-title {
  font-size: 1.5em;
}
