main {
  margin-top: 75px;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.centered-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.menu a:hover {
  color: gold;
}